$highlight-color: #606BE1;

$tooltip-color: #575C95;

$scrollbar-bgcolor: #C9CFE3;

$scrollbar-timeout: .4s;

$pending-status: #8A94C2;

$processing-status: #606BE1;

$success-status: #5ABB3C;

$failed-status: #FF6459;

$stopped-status: #FEA92D;

$menu-height: 40px;

$status-border-alpha: .2;

